.homepage {
  display: flex;
  flex-direction: column;
  margin-right: 12.5vw;
  margin-left: 12.5vw;
}

.homepage > h2 {
  font-size: 24px;
  text-shadow: 1px 0px #fafafa;
}

.homepage > p {
  font-size: 16px;
  color: #171717;
}

.homepage__buttons {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

.homepage__buttons--Left {
  border: 5px solid black;
  border-radius: 20px;
}

.homepage__buttons--Right {
  border: 5px solid white;
  border-radius: 20px;
}
